name: â­ Create release
on:
  push:
permissions:
  contents: write
jobs:
  create-release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - id: get-version
        uses: VelcoTech/gitflow-sample/.github/actions/get-version@develop
      - run: echo ${{ steps.get-version.outputs.version }}
#      - run: echo '{"version":"1.0.3"}' > package.json
#      - uses: stefanzweifel/git-auto-commit-action@v4
#      - uses: ncipollo/release-action@v1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          name: v${{ needs.get-versions.outputs.short }}
#          tag: ${{ needs.get-versions.outputs.short }}
#          artifactErrorsFailBuild: true
#          artifactContentType: application/zip
#          skipIfReleaseExists: true
  callable:
    name: Callable
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: .github/workflows/build-kotlin.yml@develop
  callable-reusable:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: .github/workflows/build-kotlin-2.yml@develop
